body {
	font-family: 'Varela Round', sans-serif;
	color: rgb(100, 94, 94);
	background-color: rgb(240, 240, 240);
}

#main {
	position: relative;
	top: 10%;
	padding-bottom: 5rem;
	width: 100%;
	margin: 0 auto;
	background-size: 100%;
}

#brand {
	color: grey;
	font-size: 2rem;
}

#username {
	font-size: 1.5rem;
	color: lightblue;
}

.hidden {
	display: none !important;
}

/* Login */

#login-header {
	text-align: center;
}

#login-button {
	margin: auto;
}

#loginForm {
	display: none;
	width: 25%;
	margin: 0 auto;
}

.alert-danger {
	display: none;
}

/* Upload FORM */

#post__form {
	padding: 1rem;
	box-shadow: 0rem 0rem 1rem rgba(0, 0, 0, .2);
	overflow: hidden;
	position: relative;
	background-color: white;
}

.post__form__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(195, 195, 195, 0.616);
	z-index: -1;
	opacity: 0;
}

.message__success {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	color: #28a745;
	opacity: 0;
}

.message__fail {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #dc3545;
	opacity: 0;
}

.form__input {
	font-size: 1.2rem;
	padding: 1rem;
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	font-family: inherit;
	border: none;
	border-bottom: 5px solid transparent;
	width: 40%;
	display: block;
}

/* Upload post show */

.contain {
	padding: 0rem 5rem;
}

#post__uploaded {
	padding: .5rem;
}

.post__content {
	overflow-y: scroll;
	height: 10rem;
}

.post__image {
	max-height: 5rem;
}

.post__thumnail__left {}

.post__thumnail__right {
	/* height: 11rem; */
	background-color: rgb(240, 240, 240);
	padding: .5rem;
	width: 100%;
	border-radius: 5px;
}

.post__thumnail {
	padding: 1rem;
	box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, .4);
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	transition: .2s all;
}

.post__thumnail:hover {
	box-shadow: 0rem 0rem .6rem rgba(0, 0, 0, .4);
	transform: translateY(-.1rem);
	background-color: lightgray;
}

/* Image gallery */

#image-gallery {
	overflow: hidden;
	overflow-y: scroll;
	height: 50vh;
}

#image-gallery img {
	width: 100%;
}

#image-gallery p {
	overflow: hidden;
	height: 2.5rem;
	margin: 0;
}

#image-gallery .row {
	background-color: lightgray;
	padding: .2rem;
	margin-bottom: .4rem;
}

#image-gallery__form {
	position: relative;
	background-color: white;
}

#image-gallery__form__background {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -100;
	background-color: rgba(0, 0, 0, .5);
}

/* Manage table */

#post__manage {
	display: none;
}

.table-image {
	max-height: 5rem;
}

.selectOptionsTd {
	width: 8rem;
}

/* News and events */

#news {
	display: none;
}

#news__form {
	position: relative;
	padding: 1rem;
	box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, .2);
	border-radius: 5px;
}

#news__form__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(195, 195, 195, 0.616);
	z-index: -1;
	opacity: 0;
}

#news__preview {
	padding: 1rem;
	box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, .2);
	border-radius: 5px;
	overflow: hidden;
	border-top: 6px solid #ea5b0a;
}

#news__preview__header {
	font-weight: bold;
}

#news__preview a {
	color: #ea5b0a;
	font-weight: bold;
	display: inline-block;
	transition: .2s all;
	padding: .2rem;
}

#news__preview a:hover {
	background-color: #ea5b0a;
	color: white;
	padding: .2rem;
	transform: skewY(2deg);
	text-transform: uppercase;
}

/* User table */

#users {
	display: none;
}

#user__form {
	padding: 1rem;
	box-shadow: 0rem 0rem .5rem rgba(0, 0, 0, .2);
	border-radius: 5px;
	position: fixed;
	width: 20%;
	z-index: 100;
	left: 11%;
	background-color: #fff;
}

#user__left {
	display: none;
}

#users__form__background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(195, 195, 195, 0.616);
	z-index: -1;
	opacity: 0;
}

/* pOP UP */

#popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, .4);
	z-index: -1000;
	opacity: 0;
	transition: .2s all;
}

#popup__window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	height: 90vh;
	width: 70%;
	overflow: hidden;
	overflow-y: scroll;
}

#popup__content {
	padding: 2rem;
}

#popup img {
	display: block;
	margin: 0 auto;
	padding: 1rem 0;
}

#popup__close {
	position: absolute;
	top: .2rem;
	right: .5rem;
	color: rgb(134, 132, 132);
	font-weight: bold;
	cursor: pointer;
}

#popup__close:hover {
	color: rgb(83, 83, 83);
}

.image-gallery__url {
	display: inline-block;
	width: 70%;
}

.image-gallery__card {
	position: relative;
}

.imageGalleryDelete {
	position: absolute;
	top: 0;
	right: 0;
}

/* Animation */

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 40px;
	text-align: center;
	font-size: 10px;
	opacity: 0;
}

.spinner>div {
	background-color: #28a745;
	height: 100%;
	width: 6px;
	display: inline-block;
	-webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
	-webkit-animation-delay: -1.1s;
	animation-delay: -1.1s;
}

.spinner .rect3 {
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}

.spinner .rect4 {
	-webkit-animation-delay: -0.9s;
	animation-delay: -0.9s;
}

.spinner .rect5 {
	-webkit-animation-delay: -0.8s;
	animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		-webkit-transform: scaleY(0.4)
	}
	20% {
		-webkit-transform: scaleY(1.0)
	}
}

@keyframes sk-stretchdelay {
	0%,
	40%,
	100% {
		transform: scaleY(0.4);
		-webkit-transform: scaleY(0.4);
	}
	20% {
		transform: scaleY(1.0);
		-webkit-transform: scaleY(1.0);
	}
}